body{
    background-size: cover;
}

.heading{
    width: 100%;
    margin: 0px;
    font-size: 20px;
}

.note{
    width: 100%;
       font-size: 10px;  
       margin: 0px;
}

#input_box{
    width: 55%;
    height: 30px;
    border-radius: 15px;
}

canvas{
    border-radius: 40px;
    box-shadow:5px 10px 5px #fffd69;
}

